<footer class="footer py-3 mt-auto">
	<div class="row gx-4">
		<div class="col text-center">
			<a href="{{ path('app_home') }}"><img src="{{ asset('images/logo.png') }}" alt="Logo du Rotary" class="w-75"></a>
			<ul class="navbar-nav d-flex flex-row justify-content-center align-items-center mt-3">
				<li class="nav-item">
					<a href="" class="nav-link footer-meta">Mentions légales</a>
				</li>
				<li class="nav-item">
					<a href="" class="nav-link footer-meta">Accessibilité</a>

				</li>
				<li class="nav-item">
					<a href="" class="nav-link footer-meta">Sitemap</a>

				</li>
			</ul>
		</div>
		<div class="col-lg-6 py-3">
			<div class="row row-cols-3">
				<div class="col d-flex">
					<div class="mx-auto">
						<h2 class="h5">Notre Club</h2>
						<ul class="navbar-nav">
							<li
								class="nav-item">
								{# <a class="nav-link" href="{{ path('app_club_history') }}">Notre histoire</a> #}
								<a class="nav-link" href="#">Notre histoire</a>
							</li>
							<li
								class="nav-item">
								{# <a class="nav-link" href="{{ path('app_club_causes') }}">Nos causes</a> #}
								<a class="nav-link" href="#">Nos causes</a>
							</li>
							<li
								class="nav-item">
								{# <a class="nav-link" href="{{ path('app_club_members') }}">Nos membres</a> #}
								<a class="nav-link" href="#">Nos membres</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col d-flex">
					<div class="mx-auto">
						<h2 class="h5">Nos actions</h2>
						<ul class="navbar-nav">
							<li
								class="nav-item">
								{# <a class="nav-link" href="{{ path('app_events', {state: 'passes'}) }}">Evenements passés</a> #}
								<a class="nav-link" href="#">Evenements passés</a>
							</li>
							<li
								class="nav-item">
								{# <a class="nav-link" href="{{ path('app_events', {state: 'a-venir'}) }}">Evenements à venir</a> #}
								<a class="nav-link" href="#">Evenements à venir</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="col d-flex">
					<div class="mx-auto">
						<h2
							class="h5 mb-5">
							{# <a class="nav-link" href="{{ path('app_gallery') }}">Galerie</a> #}
							<a class="nav-link" href="#">Galerie</a>
						</h2>
						<h2
							class="h5">
							{# <a class="nav-link" href="{{ path('app_contact') }}">Contact</a> #}
							<a class="nav-link" href="#">Contact</a>
						</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="col d-flex align-items-center">
			<div class="mx-auto d-flex flex-column">
				<p>Hôtel Ibis</p>
				<p>Lieu dit Poretta</p>
				<p>Avenue de Bastia</p>
				<p>20137 PORTO VECCHIO</p>
				<div class="mx-auto">
					<a href="https://www.facebook.com/profile.php?id=100067575436911&paipv=0&eav=AfY91gEY74AzVlrVTm5MATV1jN3_CQR7angeW4NjC7RQS0fNhceuNjLuPLVZBeDztmM" target="_blank">
						<i class="fa-brands fa-square-facebook h2"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
